body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.quiz-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  /* margin-bottom: 10px; */
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
#quiz-Container {
  display: none;
}
#startQuizBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#startQuizBtn:hover {
  background-color: #45a049;
}
.labels {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 10px;
  /* -left: 10px; */
}
